<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <span><%= message %></span>
    <span class="right"><%=link_to "X", "#", id: "close-link" %></span>
  </div>
<% end %>